<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleFirstView.css">
    <title>page 3</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Pincha la flecha para seguir</h1>
        </header>

        <main>
            <p>
                Una noche pensando en que habia pasado con nosotros en diciembre, 
                me di cuenta que ya estabas en mi cabeza, por alguna razón
                extrañaba hablar contigo. Yo nunca fui de sentir la ausencia de alguien,
                ahi me di cuenta que era distinto a lo demas, me di cuenta que no queria que la 
                vida me pasara por el frente sin antes experimentar
                el placer de tu compañia. 
                Aunque en enero nuestros caminos se separaron,
                la vida nos volvió a juntar poco después,
                con más ganas, más ánimo y en mejores condiciones.<br>
                Habiendo dicho todo lo que queria, cierro con la siguiente pregunta...
                
                
            </p>
        </main>
        <br>
        <br>
        <a href="./final.html" class="arrow-link">➜</a>
        
    </div>
</body>
</html>
