<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleFirstView.css">
    <title>page 3</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Pincha la flecha para seguir</h1>
        </header>

        <main>
            <p>
                Navegando por internet encontré una frase de uno de tus libros,<br>
                con la que sentí cierta conexión con lo nuestro.<br>
                La frase es de *Una corte de niebla y furia*:<br>
                "Te pertenezco, tú me perteneces. No importa qué pruebas enfrentemos, siempre nos encontraremos."<br>
                Aunque en enero nuestros caminos se separaron,<br>
                la vida nos volvió a juntar poco después,<br>
                con más ganas, más ánimo y en mejores condiciones.<br>
                Habiendo dicho todo lo que queria, cierro con la siguiente pregunta...
                
                
            </p>
        </main>

        <a href="./final.html" class="arrow-link">➜</a>
        
    </div>
</body>
</html>
