<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleFirstView.css">
    <title>page 3</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Pincha la flecha para seguir</h1>
        </header>

        <main>
            <p>
                Leidy, en eso te haz convertido para mí,<br>
                no es mi intención compararte con el fútbol,
                pero quise exponerte lo que representas,
                disfruto cada uno de los momentos a tu lado,
                ya sea viendo series, saliendo, tan siquiera viéndote 
                o riéndome contigo
                ya que tenemos humores parecidos.<br>
                Es especial todo contigo, me atrevo a decir que 
                 es mágica la forma en la que me haces sentir,
                me generas paz y felicidad.
                
            </p>
        </main>

        <a href="./conte4.html" class="arrow-link">➜</a>
        
    </div>
</body>
</html>
