<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quieres ser mi novia?</title>
    <link rel="stylesheet" href="../style/styleFinal.css">
</head>
<body>
    <div class="container">
        <h1 id="message"></h1>
        <div class="heart">❤️</div>
        <div class="buttons">
            <a href="mailto:isaccmedranogomez28@gmail.com?subject=Respuesta%20a%20tu%20pregunta&body=S%C3%AD,%20quiero%20ser%20tu%20novia." class="btn yes">Sí 💌</a>
            <a href="mailto:isaccmedranogomez28@gmail.com?subject=Respuesta%20a%20tu%20pregunta&body=Lo%20siento,%20pero%20no." class="btn no">No </a>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
