<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quieres ser mi novia?</title>
    <link rel="stylesheet" href="../style/styleFinal.css">
</head>
<body>
    <div class="container">
        <h1 id="message"></h1>
        <div class="heart">❤️</div>
        <div class="buttons">
            <a href="mailto:isaccmedranogomez28gmail.com?subject=Respuesta a tu pregunta&body=S%C3%AD%2C%20quiero%20ser%20tu%20novia%20%F0%9F%A4%A9" class="btn yes">Sí 💌</a>
            <a href="mailto:isaccmedranogomez28gmail.com?subject=Respuesta a tu pregunta&body=Lo%20siento%2C%20pero%20no%20%F0%9F%98%A5" class="btn no">No </a>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
