<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleFirstView.css">
    <title>Introducción</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Pincha la flecha para seguir</h1>
        </header>

        <main>
            <p>
                Hola, Leidy <br>
                Espero que te encuentres bien en el momento que leas esto...<br>
                Bueno, al menos espero tener el valor de mostrártelo. <br>
                Con esto no quiero presionarte o ganar puntos extras, <br>
                solo es mi forma de decirte todo lo que quiero,<br>
                 pero de una forma distinta a lo tradicional, de una forma especial, <br>
                tan especial como todo lo que representas para mí, <br>
                como todo lo que me haces sentir, pensar y/o vivir.
            </p>
        </main>

        <a href="./conte2.html" class="arrow-link">➜</a>
    </div>
</body>
</html>
